* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  font-family: sans-serif, Arial, "Franklin Gothic Medium", "Arial Narrow";
  color: rgb(17, 14, 14);
  margin: 0;
  text-transform: capitalize;
  background-image: url(../src/store/rain.jpg);
  background-size: cover;
  height: 100vh;
  transition: background-image 0.5s ease-in-out;
  z-index: 1;
}

.header {
  position: fixed;
  width: 80%;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  border: white 1px solid;
  border-radius: 8px;
  z-index: 999;
}
.search {
  display: flex;
  justify-content: space-between;
  margin: 20px 25px;
  font-size: 16px;
}
.box1,
.searcharea,
.result,
.resultValue {
  display: flex;
  justify-content: center;
  align-items: center;
}
.farcastImg {
  margin-right: 8px;
  height: 40px;
  width: 40px;
}

.resultValue {
  background-color: rgba(173, 216, 230, 0.7);
  height: 30px;
  width: max-content;
  padding: 0 10px;
  border-radius: 8px;
}
.inputvalue,
.searchbutton {
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  color: #524949;
}

.inputvalue {
  width: 300px;
}

.headerDeatil {
  display: flex;
}

.box {
  height: 100px;
  line-height: 6px;
  padding: 0 26px;
  color: black;
  margin-bottom: 10px;
}

.tem-box {
  position: relative;
}
.tem-o {
  position: relative;
  top: -30px;
  right: -57px;
  font-size: 35px;
}
.tem-c {
  position: relative;
  top: -22px;
  right: -40px;
  font-size: 30px;
}
.tem {
  font-family: "ArialNarrow";
  font-size: 68px;
}
.tem-t {
  font-size: 18px;
  position: relative;
  bottom: -8px;
  right: -9px;
}
.icon {
  margin-top: -10px;
  width: 110px;
}

.box2 {
  flex: 3;
  font-size: 16px;
}
.box3 {
  margin-top: -15px;
  font-size: 28px;
  flex: 3;
  text-align: right;
}
.weatherDeatil {
  display: flex;
  align-items: center;
}
.weathercontent1 {
  margin: 20px 25px;
  font-size: 14px;
}
.weathercontent {
  display: inline-block;
  height: 15px;
  width: 1px;
  background-color: grey;
}

.line-chart {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 95%;
  background-color: rgba(27, 103, 144, 0.5);
  border-radius: 10px;
  margin: 10px auto;
  list-style: none;
  padding: 15px;
  position: relative;
}
.line-chart-bar {
  margin: 3px 10px;
}
.chart-bar__fill {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-size: 12px;
  text-align: center;
  font-family: Arial, sans-serif;
}
